<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>---</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='descarga.jpg') }}" alt="logo">
        <div>
            <a href="">Papers</a>
            <section>
                <a href="">Sing up</a>
                <a href="">Longin</a>
            </section>
        </div>
    </header>
    <main>
       <div>
            <p class="eslogan">Collaboratte to innovate: Together, Powering Research</p>
            <form action="" method="post">
                <input type="text" name="username" placeholder="Nombre de usuario">
                <input type="password" name="password" placeholder="Contraseña">
                <input type="submit" value="login">
            </form>
            <a href="">¿Olvidaste tu contraseña?</a>
            <a href="">¿No tienes cuenta? Registrate</a>
            <a href="">Iniciar sesión con Google</a>
       </div>

       <img src="{{ url_for('static', filename='descarga.jpg') }}" alt="">


    </main>
</body>
</html>