<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>---</title>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='CoLiink.png') }}" alt="logo">
        <div>
            <a href="">Papers</a>
            <section>
                <a href="">Sing up</a>
                <a href="">Longin</a>
            </section>
        </div>
    </header>
    <main>
       <div>
            <h2 class="eslogan">Collaboratte to innovate: Together, Powering Research</h2>
            <form action="" method="post">
                <input type="text" name="username" placeholder="Nombre de usuario">
                <input type="password" name="password" placeholder="Contraseña">
                <a href="">¿Olvidaste tu contraseña?</a>
                <input type="submit" class="bt" value="login">
            </form>
            <a href="">¿No tienes cuenta? Registrate</a>
            <a class="google bt" href="">Iniciar sesión con Google</a>
       </div>

       <div>
        <img src="{{ url_for('static', filename='descarga.jpg') }}" alt="">
       </div>

    </main>
    <section class="a">
        <h2>Encuentra el tema que mas te guste</h2>
        <p class="sub">Busqueda sugerida</p>
        <div>
            <button>AI</button>
            <button>Web</button>
            <button>Algoritmos</button>
            <button>Green Computing</button>
            <button>AI</button>
            <button>Web</button>
            <button>Algoritmos</button>
            <button>Green Computing</button>
            <button>AI</button>
            <button>Web</button>
            <button>Algoritmos</button>
            <button>Green Computing</button>
            <button>AI</button>
            <button>Web</button>
            <button>Algoritmos</button>
            <button>Green Computing</button>
        </div>
    </section>
    <section class="b">
        <h2>Publica tu trabajo y encuentra colaboradores o patrocinadores</h2>
        <img src="{{ url_for('static', filename='descarga.jpg') }}" alt="">
    </section>
    <section class="quien">
        <div>
                <h2>¿A quien se dirige?</h2>
                <p>Cualquier persona con interes en la investigacion</p>
                <ul>
                    <li>Encuentra colaboradores</li>
                    <li>Encuentra patrocinadores</li>
                    <li>Da a conocer tu trabajo</li>
                </ul>
        </div>
        <img src="{{ url_for('static', filename='descarga.jpg') }}" alt="">
    </section>
    <footer>
        <p>Grupo:</p>
        <ul>
            <li>Jean Marc</li>
            <li>Nikolas</li>
            <li>Nicolas</li>
            <li>Anali</li>
            <li>Sergio</li>
        </ul>
    </footer>
</body>
</html>